insuranse_flows.json
[{"id":"edf0c19a23362c9b","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"bf46aee0dc9c3fc6","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false},{"id":"6b585da310d6ca8d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65f0ec5c63c79af8","type":"ui_group","name":"Enter the values","tab":"bf46aee0dc9c3fc6","order":1,"disp":true,"width":"6","collapse":false},{"id":"c2207771f7f94359","type":"ui_form","z":"edf0c19a23362c9b","name":"","label":"","group":"65f0ec5c63c79af8","order":4,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"text","required":true,"rows":null},{"label":"children","value":"children","type":"text","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"text","required":true,"rows":null}],"formValue":{"age":"","children":"","bmi":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":82.00000286102295,"y":63.000000953674316,"wires":[["8c1f2bb30aeb32a5","0aea351ae33d8f8c"]],"l":false},{"id":"69b98a62ddcce611","type":"ui_dropdown","z":"edf0c19a23362c9b","name":"","label":"Sex","tooltip":"","place":"Select option","group":"65f0ec5c63c79af8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"male","value":"male","type":"str"},{"label":"female","value":"female","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":109.00000095367432,"y":181.00000286102295,"wires":[["283fcd91be929a07"]],"l":false},{"id":"609f8823415221eb","type":"ui_dropdown","z":"edf0c19a23362c9b","name":"","label":"Are you a smoker","tooltip":"","place":"Select option","group":"65f0ec5c63c79af8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"yes","value":"yes","type":"str"},{"label":"no","value":"no","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":106.00000095367432,"y":282.00000381469727,"wires":[["096a90548f253f92"]],"l":false},{"id":"1c154148660983ac","type":"ui_dropdown","z":"edf0c19a23362c9b","name":"","label":"Select the region","tooltip":"","place":"Select option","group":"65f0ec5c63c79af8","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"southeast","value":"southeast","type":"str"},{"label":"southwest","value":"southwest","type":"str"},{"label":"northeast","value":"northeast","type":"str"},{"label":"northwest","value":"northwest","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":105,"y":393.0000057220459,"wires":[["f56955d3166e3762"]],"l":false},{"id":"1094edb32c11dbe0","type":"debug","z":"edf0c19a23362c9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":264.0000219345093,"y":35.00000190734863,"wires":[],"l":false},{"id":"872b308f93e96ee1","type":"debug","z":"edf0c19a23362c9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":229.00000858306885,"y":172.00000286102295,"wires":[],"l":false},{"id":"7d7fc212ce4e4a8b","type":"debug","z":"edf0c19a23362c9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":228.00000858306885,"y":283.0000047683716,"wires":[],"l":false},{"id":"37d2672f48f2e963","type":"debug","z":"edf0c19a23362c9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":232.00000858306885,"y":395.0000066757202,"wires":[],"l":false},{"id":"8c1f2bb30aeb32a5","type":"function","z":"edf0c19a23362c9b","name":"Global variables for form nod","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"bmi\",msg.payload.bmi)\nvar apikey=\"2a0ULC97E1eGk7s7s6d_BD1lmVYc47LfHYxSshpGFXcs\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":181.39999866485596,"y":69,"wires":[["1094edb32c11dbe0","8efc2e267c00608c"]],"l":false},{"id":"283fcd91be929a07","type":"function","z":"edf0c19a23362c9b","name":"global variable for sex","func":"global.set(\"sex\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":165.399995803833,"y":198.00000286102295,"wires":[["872b308f93e96ee1"]],"l":false},{"id":"096a90548f253f92","type":"function","z":"edf0c19a23362c9b","name":"","func":"global.set(\"smoker\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160.399995803833,"y":315.00000381469727,"wires":[["7d7fc212ce4e4a8b"]],"l":false},{"id":"f56955d3166e3762","type":"function","z":"edf0c19a23362c9b","name":"","func":"global.set(\"region\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":156.399995803833,"y":426.0000057220459,"wires":[["37d2672f48f2e963"]],"l":false},{"id":"0aea351ae33d8f8c","type":"debug","z":"edf0c19a23362c9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":143.00000762939453,"y":23,"wires":[],"l":false},{"id":"8efc2e267c00608c","type":"http request","z":"edf0c19a23362c9b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":236.39999961853027,"y":100.00000190734863,"wires":[["10bed46b7f0ddc46","bbc2a1a7a0ddbfda"]],"l":false},{"id":"10bed46b7f0ddc46","type":"debug","z":"edf0c19a23362c9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":351.99999809265137,"y":34.000000953674316,"wires":[],"l":false},{"id":"bbc2a1a7a0ddbfda","type":"function","z":"edf0c19a23362c9b","name":"","func":"var age=global.get(\"age\")\nvar sex=global.get(\"sex\")\nvar children=global.get(\"children\")\nvar bmi=global.get(\"bmi\")\nvar region=global.get(\"region\")\nvar smoker=global.get(\"smoker\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"age\",\"sex\",\"bmi\",\"children\",\"smoker\",\"region\"]],\"values\":[[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":313.39999866485596,"y":129.00000095367432,"wires":[["4afaaa88071c5650"]],"l":false},{"id":"4afaaa88071c5650","type":"http request","z":"edf0c19a23362c9b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/8c943634-35a2-4d22-b151-c3dbf428f306/predictions?version=2021-08-10","tls":"","persist":false,"proxy":"","authType":"","x":348.3999996185303,"y":185.00000095367432,"wires":[["fe9c7535ec803d10","d75247054f12fbf9"]],"l":false},{"id":"fe9c7535ec803d10","type":"debug","z":"edf0c19a23362c9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":373.3999996185303,"y":239.00000190734863,"wires":[],"l":false},{"id":"d75247054f12fbf9","type":"function","z":"edf0c19a23362c9b","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":413.4000005722046,"y":116.00000286102295,"wires":[["2f35130387ad2652","efdc670cbf17ce8a"]],"l":false},{"id":"2f35130387ad2652","type":"debug","z":"edf0c19a23362c9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":459.39999866485596,"y":85.00000190734863,"wires":[],"l":false},{"id":"efdc670cbf17ce8a","type":"ui_text","z":"edf0c19a23362c9b","group":"65f0ec5c63c79af8","order":5,"width":0,"height":0,"name":"","label":"The premium will be","format":"{{msg.payload}}","layout":"row-spread","x":469.4000015258789,"y":154,"wires":[],"l":false}]